<% include ../partials/navbar %>

    <h1>
        <%= course.name %>
    </h1>

    <div class="container">
        <div class="detailsWrapper">
            <div class="imgDiv">
                <img src="<%= course.image %>" alt="" class='courseImg'>
            </div>
            <div class="detailsDiv">
                <h3>
                    <%= course.description %>
                </h3>
                <h6>
                    <%= course.phoneNumber %>
                </h6>
                <h6>
                    <%= course.location %>
                </h6>
                <% course.comments.forEach(comment=>{ %>
                    <p> <%= comment.author %></p>
                <p> <%= comment.text %></p>
            <% }) %>
            <a href="/golfcourses/<%= course._id %>/comments/new" class="btn btn-info" role="button">Edit</a>
            <button class='btn btn-default'>Delete</button>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>